<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script> -->
    <title>{%block title%}APP{% endblock %}</title>
  </head>
  <body>

    {% block body %}{% endblock %}

    <!-- <script src="/js/index.js"></script> -->
  </body>
  <footer>Copyright Juliana Mei</footer>
</html>
